<!DOCTYPE HTML>

<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'learn/style.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title> Removing a translation </title>
    </head>
    <body>
        <div class="edit-grid">
            <div class="search">
                <form action="/edit/" method="POST" name="edit">
                    {% csrf_token %}
                    {{ search }}
                    <input type="submit" name="search-based-edit" value="Edit">
                </form>
            </div>
            <br>
            <div class="entries">
                <form action="/edit/" method="POST" name="edit">
                    {% csrf_token %}
                    {{ everything }}
                    <input type="submit" name="checkbox-based-edit" value="Edit">
                </form>
            </div>
            
            <div class="groups">
                    <form action="/" method="GET" name="back_to_the_homepage">
                        <input type="submit" name="return" value="Return">
                    </form>
            </div>
        </div>
    </body>
</html>
